@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(fonts.css);

:root {
    --main-header-bg-color: rgba(160, 204, 255, 0.15);
    --main-block-border-color: rgba(130, 114, 255, 0.15);
}

body {
    max-width: 1500px;
    margin: 0 auto;
}

/*
ul {
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
}

ul > li {
    padding: 0.5em;
}

.border-black {
    border: 1px solid black;
}

.content-block {
    margin: 1em 1em 2.5em 1em; 
    background: rgba(170, 170, 255, 0.05);
    border: 1px solid var(--main-block-border-color);
    border-radius: 8px;

    font-family: 'Ubuntu';
}

.content-block-footer {
    margin: 0;
    padding: 0.5em 0.25em 0.15em 0.25em;
    background: var(--main-header-bg-color);
    border-top: 1px solid var(--main-block-border-color);
}

.content-block-header {
    margin: 0;
    padding: 0.25em;
    background: var(--main-header-bg-color);
    border-bottom: 1px solid var(--main-block-border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content-block-header-title {
    margin: 0;
    padding: 0.25em;

    font-family: 'Schule';
    font-size: 175%;
}

.content-block-header-line {
    margin: 0;
    padding: 0.25em;

    font-family: 'Schule';
    font-size: 90%;
}

.content-block-text {
    margin: 0;
    padding: 0.5em;
}

.content-container {
    width: 65%;
}

.flex-top-around {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.side-block {
    margin: 1em 1em 2.5em 1em; 
    background: rgba(170, 170, 255, 0.05);
    border: 1px solid var(--main-block-border-color);
    border-radius: 8px;

    font-family: 'Ubuntu';
}

.side-block-header {
    margin: 0;
    padding: 0.25em;
    background: var(--main-header-bg-color);
    border-bottom: 1px solid var(--main-block-border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.side-block-header-title {
    margin: 0;
    padding: 0.25em;

    font-family: 'Schule';
    font-size: 125%;
}

.side-block-header-line {
    margin: 0;
    padding: 0.25em;

    font-family: 'Schule';
    font-size: 90%;
}

.side-block-text {
    margin: 0;
    padding: 0.5em;
}

.side-container {
    width: 25%;
}
*/