@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.7.0/css/all.css);
@import url(fonts.css);

:root {
    --main-header-bg-color: rgba(160, 204, 255, 0.15);
    --main-block-border-color: rgba(130, 114, 255, 0.15);
}

body {
    max-width: 1500px;
    margin: 0 auto;

    background-color: whitesmoke;
}

.hidden {
    display: none;
}

.w-20px {
    width: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-none {
    cursor: none;
}








.popup-layer {
    position: fixed;
    right   : 0;
    top     : 0;
    width   : 25%;
    z-index : 100;
    
    overflow-y: auto;
    margin-top: 5em;
}

.logo-image {
    width: 32px;
}