<div class="row p-3">
    <div class="d-flex">
        <div class="col mr-3">
            <div class="row">
                <div style="height: 32px; width: 32px; background: gray;"
                    data-toggle="tooltip" data-placement="bottom" 
                    title="%user%">
                </div>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between">
                <h5>%title%</h5>
                <div>
                    <span class="px-3 text-muted">
                        <sub>%date%</sub>
                    </span>
                    <span class="pl-3 text-success">
                        <span>%likes%</span> likes
                    </span>
                    <button class="btn btn-link">
                        <i class="fas fa-heart text-danger"></i>
                    </button>
                </div>
            </div>
            <div class="mb-2">%hashtags%</div>
            <div>%content%</div>
        </div>
    </div>
</div>