<li class="list-group-item list-group-item-action">
    <input type="hidden" value="%groupId%" />
    <div class="d-flex justify-content-between">
        <h5>%name%</h5>
        <div>
            <button class="btn btn-sm btn-outline-primary">
                Join group
            </button>
            <button class="btn btn-sm btn-link">
                <span class="fas fa-info"></span>
            </button>
        </div>
    </div>
    <div class="text-secondary mb-1">
        <span data-toggle="tooltip" data-placement="bottom" title="Issued date"
            class="cursor-none">
            <span class="fas fa-calendar-day" aria-hidden="true"></span>
            <small class="mr-3 ml-1">
                %issued%
            </small>
        </span>

        <span data-toggle="tooltip" data-placement="bottom" title="Issued date"
                class="cursor-none">
            <span class="fas fa-paw" aria-hidden="true"></span>
            <small class="mr-3 ml-1">
                %groupType%
            </small>
        </span>

        <span data-toggle="tooltip" data-placement="bottom" title="Issued date"
                class="cursor-none">
            <span class="fas fa-user" aria-hidden="true"></span>
            <small class="mr-3 ml-1">
                %author%
            </small>
        </span>

        <span data-toggle="tooltip" data-placement="bottom" title="Issued date"
                class="cursor-none">
            <span class="fas fa-users" aria-hidden="true"></span>
            <small class="mr-3 ml-1">
                <span>%members% </span>
                <span>members</span>
            </small>
        </span>

        <span data-toggle="tooltip" data-placement="bottom" title="Issued date"
                class="cursor-none">
            <span class="fas fa-unlock-alt" aria-hidden="true"></span>
            <small class="mr-3 ml-1">
                %privacy%
            </small>
        </span>
    </div>
    <p>
        %description%
    </p>
</li>