<li class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
        <h5>%name%</h5>
        <div>
            <button class="btn btn-sm btn-link">
                Registration
            </button>
        </div>
    </div>
    <div class="text-secondary mb-1">
        <span class="fas fa-calendar-day" aria-hidden="true"></span>
        <small class="mr-3 ml-1">
            %issued%
        </small>

        <span class="fas fa-user" aria-hidden="true"></span>
        <small class="mr-3 ml-1">
            %author%
        </small>

        <span class="fas fa-calendar-week" aria-hidden="true"></span>
        <small class="mr-3 ml-1">
            %period%
        </small>

        <span class="fas fa-book" aria-hidden="true"></span>
        <small class="mr-3 ml-1">
            %status%
        </small>
    </div>
    <div>
        %description%
    </div>
</li>